<div class="container">
  <!-- <app-template-driven-form-demo></app-template-driven-form-demo> -->
  <!-- <app-ngform-properties-demo></app-ngform-properties-demo> -->
  <!-- <app-ng-model-group-demo></app-ng-model-group-demo> -->
  <!-- <app-radio-buttons-demo></app-radio-buttons-demo> -->
  <!-- <app-setting-form-value-programatically-demo></app-setting-form-value-programatically-demo> -->
  <!-- <app-reactive-form-demo></app-reactive-form-demo> -->
  <!-- <app-reactive-form-nested-form-groups-demo></app-reactive-form-nested-form-groups-demo> -->
  <!-- <app-form-array-demo></app-form-array-demo> -->
  <!-- <app-custom-validation-demo></app-custom-validation-demo> -->
  <app-custom-validation-with-parameters-demo></app-custom-validation-with-parameters-demo>
</div>
