<button class="btn btn-primary" (click)="onStartBtnClicked()">start game</button>
<button class="btn btn-danger" (click)="onStopBtnClicked()">stop game</button>

<p appBasicHighLighter *appUnless="false" >Test Custom Directive that access ElementRef directly</p>
<p appBetterHighlighter
   [highlightBackgroundColor]="'red'"
   [defaultBackgroundColor]="'pink'"> Test Directive using Renderer</p>

   <div [ngSwitch]="value" style="background-color: blueviolet;">
      <p *ngSwitchCase="5">The value is 5</p>
      <p *ngSwitchCase="10">The value is 10</p>
      <p *ngSwitchCase="15">The value is 15</p>
      <p *ngSwitchCase="20">The value is 20</p>
      <p *ngSwitchDefault >The default Switch case</p>
   </div>
