<!-- Test Encapsulation View None-->
<app-view-encapsulation-none></app-view-encapsulation-none>
<h1>heading outside the view-encapsulation-none component</h1>

<!-- <hr> -->

<!-- Test Encapsulation View Emulated-->
<!-- <app-view-encapsulation-emulated></app-view-encapsulation-emulated>
<p>paragraph outside the view-encapsulation-emulated component</p> -->

<!-- <hr> -->

<!-- Test Encapsulation View ShadowDom-->
<!-- <app-view-encapsulation-shadow-dom></app-view-encapsulation-shadow-dom>
<h2>heading 2 outside the view-encapsulation-shadow-dom component</h2> -->