
<div class="row m-2 ">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let customer of customers">
                <a [routerLink]="'/test-query-param'"
                   [queryParams]="{customerId:customer.id}">{{customer.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col">
            
                <p *ngIf="selectedCustomer != null" >Customer ID: {{selectedCustomer.id}}</p>
                <p *ngIf="selectedCustomer != null">Customer ID: {{selectedCustomer.name}}</p>
            
            
    </div>
</div>