<div class="container">
  
<h1>Angular Routing Demo</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

    <ul class="nav nav-tabs">
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/first">First</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/second">Second</a>
      </li>
    </ul>
 

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

</div>
