
<!-- <app-string-enterpolation></app-string-enterpolation> -->

<!-- <app-template-statement></app-template-statement> -->

<!-- <app-template-expression></app-template-expression> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-template-variables></app-template-variables> -->

<!-- <app-single-slot-content-projection>
    <div class="projected-div">
        <p>This is passed paragraph to the ng-content</p>
    </div>
</app-single-slot-content-projection> -->

<!-- <app-multi-slot-content-projection>
    <div special>
        <p>The special content</p>
    </div>

    <div>
        <p>The default content</p>
    </div>
</app-multi-slot-content-projection> -->

<app-ng-template-demo></app-ng-template-demo>