<div appBasicHighlighter>
  <h1>Test Basic Highlighter</h1>
</div>

<div HighlighterV2>
  <h1>Test Highlighter Version2</h1>
</div>

<div createText></div>
<div appendChild></div>

<div highlighterWithProperties [backgroundColor]="'aqua'">
  <h1>Test Highlighter with property color</h1>
</div>

<div [highlighterWithPropertiesAndAlias]="'orange'">
  <h1>Test Highlighter with property and alias to directive name</h1>
</div>

<div [highlighterWithPropertiesAndAlias]="'orange'">
  <h1>Test Highlighter with property color</h1>
</div>

<div highlighterWithHostBinding [backgroundColor]="'aqua'">
  <h1>Test Highlighter with hostbinding </h1>
</div>

<div highlighterWithHostListenter>
  <h1>Test directive with hostListenter</h1>
</div>