


<!-- <input type="text"
(input)="onUpdateInput($event)" /><br> -->

<input type="text" [(ngModel)]="serverName" />

{{serverName}}
<br>
<button class="btn" 
[disabled]="!allowNewServer" 
(click)="onClickBtn()"
>New Server</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server has been created with name {{serverName}}</p>
<p [ngStyle]="{backgroundColor: getColor()}">Server Status is : {{serverStatus}}</p>
<ng-template #noServer>
    <p>No server has been created</p>
</ng-template>
<p>success-alert-component works!</p>
<p>{{successMsg}}</p>

<br>
<h4>Assignment</h4>
<input type="text" [(ngModel)]="username" /><br>
{{username}}<br>
<button class="btn btn-primary" 
[disabled]="username.length===0" 
(click)="onClickClearBtn()">Clear</button>
