<div>
  <p>
    {{ value | uppercase}}
  </p>

  <p>
    {{ value | lowercase}}
  </p>

  <p>
    {{ numberValue | currency:'USD'}}
  </p>

  <p>
    {{ numberValue | currency:'EUR':'symbol'}}
  </p>


  <p>
    {{ numberValue | number}}
  </p>

  <p>
    {{ numberVal | percent}}
  </p>

  <p>
    {{ myDate | date:'yyyy-MM-dd' }}
  </p>

  <p>
    {{ myDate | date:'medium' | uppercase }}
  </p>

  <p>
    {{ 'hamza' | capitalize}}
  </p>

  <p>
    {{ 'hello world example' | capitalize}}
  </p>
</div>