<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <!-- <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">Home</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/test-query-param">query param demo</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/test-route-param">route param demo</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/test-fragment">fragment demo</a>
      </li>
    </ul>
  </div>

  

  <router-outlet></router-outlet>

</div>



